/*
Colori usati:

    TODO Scegliere pattern colori da usare! 
*/

:root{
    --background: rgba(204, 203, 201, 0.627);
    --div_bg: rgba(128, 128, 128, 0.464);
}
body{
    width: 350px;
    height: 350px;
    background-color: var(--background) !important;
    padding: 10px;
}

/* HEADER SECTION*/
.header{
    border:2px solid red;
    height: 20%;
}

/* MAIN SECTION*/
.main__section{
    margin: 0.3em;
    background-color: white;
    border-radius: 6px;
    height: 50%;
    box-shadow: 3px 2px 5px var(--div_bg);
    padding: 1px;
}

.list__cmds{
    margin-top: 1em;
    border:2px solid red;
    padding: 5px;
    margin: 5px;
}

.list__cmds a{
    text-decoration: none;
    color: rgb(191, 58, 60);
    font-weight: bold;
    font-size: 1.3em;
}

#DP__Type{
    margin-top: 10px;
    font-weight: 500;
}

#CUR__Website{
    font-weight: 500;
    font-size: larger;
}

/* FOOTER SECTION */
.footer{
    border: 2px solid purple;
    height: 20%;
    margin-top: 1em;
}

.footer__text{
    font-size: 10px;
    color: gray;
}

/* UTILS */
.center{
    text-align: center;
}

hr.solid{
    border-top: 2px solid black;
    width: 80%;
    height: 2px;
    margin-left: 10%;
}

