:root{
    --background: #1f1f1f;
    --div_bg: #393939;
    --main: #3DCAB5;
    --span: black;
    --text: white;
    --text__footer: gray;
}

body{
    width: 350px;
    height: 330px;
    background-color: var(--background) !important;
    padding: 15px;
}

/* HEADER SECTION*/
.header{
    /*border:2px solid red;*/
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
  
}

.icon{
    width: 60px;
    height: 60px;
}

.title{
  color: var(--main);
  margin-left: 7px;
}

.switch__cont{
  display: flex;
  align-items: center;
}

/* MAIN SECTION*/
.main__section{
    height: 49%;
    border: 2px solid var(--main);
    margin-top: 5px;
    background-color: var(--div_bg);
    border-radius: 6px;
    box-shadow: 3px 2px 5px var(--div_bg);
    padding: 2px;
}

.list__cmds{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    /* margin-top: 1em; */
    /* border:2px solid white; */
    color: var(--text);
}

.list__index{
    margin-top: 15px;
}

#list__inc , #list__dec {
    margin: 10px;
    text-decoration: none;
    color: var(--main);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

#DP_msg{
    text-decoration: none;
    /* font-weight: 500; */
    color: var(--text);
    display: flex;
    justify-content: center;
}

#DP_Type-Title{
    text-decoration: none;
    font-weight: 500;
    color: var(--text);
    display: flex;
    /* justify-content: center; */
}

/* .CUR__WSContainer{
    border: 1px solid red;
    margin-top: 25px;
} */

#CUR__Website{ 
    margin-top: 5px;
    font-weight: 4000;
    font-size: large;
    color: var(--main);
}

/* FOOTER SECTION */
.footer{
    /* border: 2px solid purple; */
    height: 20%;
    margin-top: 1.4em;
}

.footer__text{
    font-size: 10px;
    color: var(--text__footer);
}

/* UTILS */
.center{
    text-align: center;
}

hr.solid{
    border-top: 2px solid var(--span);
    width: 80%;
    height: 2px;
    margin-left: 10%;
    margin-bottom: 0.2em;
}

/* SWITCH */
.slider {
    background-color: #ffffff2b;
    border-radius: 100px;
    padding: 1px;
    margin: auto;
    cursor: pointer;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    align-items: center;
    position: relative;
    display: inline-block;
    width: 42px;
    height: 20px;
    box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, rgba(0, 0, 0, 0.21) 0px 0px 0px 24px inset,
        var(--main) 0px 0px 0px 0px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
  }
  
  .slider::after {
    content: "";
    display: flex;
    top: 2.3px;
    left: 2px;
    width: 17px;
    height: 17px;
    background-color: #e3e3e3;
    border-radius: 200px;
    position: absolute;
    box-shadow: transparent 0px 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    will-change: left, background-color;
  }
  
  .switch input[type="checkbox"]:checked + .slider {
    box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, var(--main) 0px 0px 0px 2px inset, var(--main) 0px 0px 0px 24px inset,
          rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
  }
  
  .switch input[type="checkbox"]:checked + .slider::after {
    left: 24px;
  
  }
  
  .switch input[type="checkbox"] {
    display: none;
  }